
body{
  background-color: #3c47a3;
  margin:0;
}

table {
  font-family: arial;
  width: 100%;
}
nav{
  background-color: white;
}
a{
  color: black;
  text-decoration: none;
}
#table1{
  padding:10px;
}
.button {
  background-color: white;
  border: none;
  padding: 14px 50px;
  font-size: 20px;
  margin:4px 2px;
}

#row{
  width:50%; 
  font-size: 28px;
}
section{
  padding-left: 140px; 
  font-family: Arial;
}
#p1{
  font-size: 50px;
  width: 653px;
  color: white;
}
#p2{
  font-size: 20px; 
  color:white;
}
li {
  display: inline;
  color:white;
  font-size: 20px;
}
.section{
  width:50%;
}
.navigation a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.icon{
  color:#FF9300;
}


